body {
  margin: 0px;
  background-image: url("../images/background.png");
}

span {
  width: 96vw;
  display: block;
  margin-left: 2%;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

h1 {
  margin: 0px;
  padding: 10px;
  font-size: 10vw;
  display: inline-block;
  font-family: sans-serif;
}

h2 {
  padding: 10px;
  font-size: 6vw;
  text-decoration: underline;
}

nav {
  display: none;
}

li {
  font-size: 3vw;
  font-weight: bold;
}

li div {
  font-style: italic;
}

nav a {
  font-size: 8vw;
  display: block;
  color: #607d8b;
  text-align: right;
  padding: 5px;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
}

img {
  width: 90%
}

a.active {
  text-decoration: underline;
}

#dropdown {
  width: 12vw;
  float: right;
  margin: 0.5em;
}