body{
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

a.active{
    background-color: rgb(0, 132, 255);
    color: white !important;
    border-radius: 8px;
}
p{
    text-align: justify;
}
li.active{
    font-weight: bold;
}
img{
    height: 200px;
    margin-right: 10px;
    margin-top: 10px;
}

.badge{
    margin-right: 10px;
}

#projects .list-group-item{
    position: relative;
}

#projects .list-group-item .btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
}


@media only screen and (max-width: 800px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
    }
    #projects .list-group-item .btn{
        position: static;
        width: 100%;
        margin: auto;
        margin-top: 10px;
    }
    img{
        width: 100%;
        height: auto;
    }
}

#filters label{
    margin: 10px;
    margin-right: 0px;
    font-weight: bold;
    font-size: 0.75em;
    padding: .35em .65em;
}

.card{
    margin-left: 10px;
    margin-right: 10px;
}

#skills > div{
    border: lightgray 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    min-width: 400px;
}
#certs > .row > div{
    font-weight: bold;
    text-align: center;
}

h2{
    text-align: center;
}

.company{
    color:rgb(50, 137, 218);
}
.col{
    text-align: center;
    font-weight: bold;
}